.card{
  box-shadow:0 15px 32px 0 rgba(0,0,0,.1);
  border:0;

  .card-img-container {
    max-width: 500px;
    max-height: 333px;
    overflow: hidden;
  }
  .price-ribbon{
    display: block;
    position: absolute;
    right: -11px;
    top: 15px;
    background: $secondary;
    color: white;
    padding: 3px 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 1;
    border-radius: 3px 0px 0px 3px;
    &:before{
      content: '';
      position: absolute;
      right: 0;
      bottom: -11px;
      height: 0;
      width: 0;
      border-top: 11px solid darken($secondary, 10%);
      border-right: 11px solid transparent;
      z-index: -2;
    }
  }
  .card-title{

  }
}