.filter-tab {
  background-color: #27348B;
  color:white;
  margin-bottom:15px;
  box-shadow:0 15px 32px 0 rgba(0,0,0,.1);
}

.tab-heading {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.tab-active {
  background-color: #fff;
  color: #000;
}

//transition
.fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 0.5s;
  max-height: 1000px;
}

.fadeHeight-enter,
.fadeHeight-leave-to {
  opacity: 0;
  max-height: 0px;
}

//price slider
.vue-slider-process {
  background-color: $primary !important;
}
.vue-slider-dot-tooltip-inner {
  border-color: $primary !important;
  background-color: $primary !important;
}