
//override bootstrap variables

$primary: #27348b;
$secondary: #ec5650;

//override bootstrap variables

//import bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

//import cards
@import './cards';

//import slider
@import './slider';

//import tabs
@import './tabs';

body{
  background-color: #e4e3f6;
  font-family:'Roboto';
}

.img-slider{
  background-color: #f1f1f1;
}
.price{
  color:$secondary;
  font-weight: 700;
  font-size:24px;
}

hr{
  margin:0.5em 0em;
}

